{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}

<div class="text-center lunar-hero">

    <h1 class="display-4">
        Bem-vindo à Lumni
    </h1>

    <p class="lead">
        Seu diário emocional com toques lunares e meditativos.
        Registre humor, sono, energia e tarefas.
        Identifique padrões e cuide de você.
    </p>

    <div class="mt-4">
        <a href="/login" class="btn btn-outline-light btn-lg">
            Entrar
        </a>

        <a href="/register" class="btn btn-primary btn-lg ms-3">
            Criar conta
        </a>
    </div>

</div>

{% endblock %}